[Unit]
Description=Solr Exporter
Wants=network-online.target
After=network-online.target

[Service]

User=root
ExecStart=/var/lib/prometheus/exporters/solr_exporter/bin/solr_exporter -p 9854 -b http://localhost:8983/solr -f ./conf/solr-exporter-config.xml --num-threads 8 

[Install]
WantedBy=default.target
